* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;
    color: var(--colorTexto);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
}

/* paleta de colores */
:root {
    --colorOpaco: #222224;
    --colorOpaco2: #38383c;
    --colorTexto: #5a5a60;
    --colorGray: #7f7f87;
    --colorTexto2: #9b9dcd;
    --colorLila: #6669b6;
    --colorGreen: #7bcb39;
    --colorYellow: #f4b145;
}

/* colores de fondo */
.bgOpaco {
    background-color: var(--colorOpaco);
}
.bgOpaco2 {
    background-color: var(--colorOpaco2);
}
.bgGreen {
    background-color: var(--colorGreen);
}

.bgYellow {
    background-color: var(--colorYellow);
}

.bgGray {
    background-color: var(--colorGray);
}

/* colores de texto */
.coTexto {
    color: var(--colorTexto);
}

.coTexto2 {
    color: var(--colorTexto2);
}

/* borders */
.bTexto {
    border: 1px solid var(--colorTexto);
}

/* hovers */
.ho-bgLila:hover {
    background-color: var(--colorLila);
}